{% include 'include/_Header.html' %}
<div class="heading flash-message">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul style="color: rgb(116, 116, 191);">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
<h1 class="heading">{{ current_user.camp_name }} Report page</h1>
</div>
<div class="form" style="margin-top: 100px;">
<form method="POST">
    <label for="Campus">Selected Campus:</label>
    <select name="Campus" required>
        {% if current_user.camp_name == 'Steve Biko Campus' %}
            <option value="Steve Biko">Steve Biko Campus</option>
            
        {% elif current_user.camp_name == 'Ritson Campus' %}
            <option value="Ritson">Ritson Campus</option>
            
        {% elif current_user.camp_name == 'ML Sultan Campus' %}
            <option value="ML Sultan">ML Sultan Campus</option>
            
        {% elif current_user.camp_name == 'City Campus' %}
            <option value="City Campus">City Campus</option>
            
        {% elif current_user.camp_name == 'Indumiso Campus' %}
            <option value="Indumiso">Indumiso Campus</option>
            
        {% elif current_user.camp_name == 'Midlands Campus' %}
            <option value="Midlands">Midlands Campus</option>
            
        {% elif current_user.camp_name == 'Brickfield Campus' %}
            <option value="Brickfield">Brickfield Campus</option>
            
        
        {% endif %}
    </select><br><br>
    
    <label for="block">Select Campus Block:</label>
    <select name="block" required>
        {% if current_user.camp_name == 'Steve Biko Campus' %}
            <option value="block A1">A1</option>
            <option value="block A2">A2</option>
            <option value="block A3">A3</option>
            <option value="block A4">A4</option>
            <option value="block A5">A5</option>
            <option value="block C">C</option>
            <option value="block D1">D1</option>
            <option value="block D2">D2</option>
            <option value="block D3">D3</option>
            <option value="block D4">D4</option>
            <option value="block D5">D5</option>
            <option value="block D6">D6</option>
            <option value="block E">E</option>
            <option value="block F1">F1</option>
            <option value="block G1">G1</option>
            <option value="block G2">G2</option>
            <option value="block H">H</option>
            <option value="block J">J</option>
            <option value="block K">K</option>
            <option value="block M">M</option>
            <option value="block N">N</option>
            <option value="block P">P</option>
            <option value="block Q">Q</option>
            <option value="block S2">S2</option>
            <option value="block S3">S3</option>
            <option value="block S4">S4</option>
            <option value="block S5">S5</option>
            <option value="block S6">S6</option>
            <option value="block S7">S7</option>
            <option value="block S8">S8</option>
            <option value="block S9">S9</option>
            <option value="block S10">S10</option>
            <option value="block S11">S11</option>

        {% elif current_user.camp_name == 'Ritson Campus' %}
            <option value="block A">A</option>
            <option value="block B">B</option>
            <option value="block C1">C1</option>
            <option value="block C3">C3</option>
            <option value="block D1">D1</option>
            <option value="block D2">D2</option>
            <option value="block D3">D3</option>
            <option value="block E1">E1</option>
            <option value="block E2">E2</option>
            <option value="block F">F</option>
            <option value="block G1">G1</option>
            <option value="block G2">G2</option>
            <option value="block H1">H1</option>
            <option value="block H2">H2</option>
            <option value="block J">J</option>
            <option value="block K">K</option>
            <option value="block L">L</option>
            <option value="block M">M</option>
            <option value="block N">N</option>
            <option value="block P">P</option>
            <option value="block Q">Q</option>
            <option value="block R">R</option>
            
        {% elif current_user.camp_name == 'ML Sultan Campus' %}
            <option value="block A">A</option>
            <option value="block B">B</option>
            <option value="block C">C</option>
            <option value="block D">D</option>
            <option value="block E">E</option>
            <option value="block F">F</option>
            <option value="block G">G</option>
            <option value="block H">H</option>
            <option value="block J">J</option>
            <option value="block K">K</option>
            <option value="block L">L</option>
            <option value="block M">M</option>
                
        {% elif current_user.camp_name == 'City Campus' %}
            <option value="block A">A</option>
            <option value="block B">B</option>
            <option value="block C">C</option>
            <option value="block D">D</option>
            <option value="block E">E</option>
            <option value="block F">F</option>
            <option value="block G">G</option>
            <option value="block H">H</option>
            
        {% elif current_user.camp_name == 'Indumiso Campus' %}
            <option value="block 1">Indumiso Campus</option>
            
        {% elif current_user.camp_name == 'Midlands Campus' %}
            <option value="block 1">Midlands Campus</option>
            
        {% elif current_user.camp_name == 'Brickfield Campus' %}
            <option value="block 1">Brickfield Campus</option>
            
        
        {% endif %}
    </select><br><br>
    

    {% if current_user.role == 'Student' %}
        <label for="description">Describe the problem:</label>
        <textarea id="description" name="description"  rows="4" cols="50" required></textarea><br><br>
    {% endif %}
    
    
    <input type="submit" value="Report">
</form>

<h2 class="heading">Your Reports</h2>
<table>
    <tr style="font-size: 14px;">
        {% if current_user.role == 'Student' %}
            <th>Campus</th>

            
            <th>Block</th>

            
            <th>Description</th>

            
            <th>Status</th>
    
            
        
        {% endif %}
    </tr>
    {% for report in report %}
       {% if current_user.is_authenticated %}
           {% if current_user.role == 'Student' %}

                <tr class="clickable-row" style="font-size: 12px;" data-href="{{ url_for('view_report', report_id=report.id) }}">

                <td>{{ report.Campus }}</td>

                <td>{{ report.block }}</td>

                <td>{{ report.decription }}</td>

                <td>{{ report.status }}</td>
                {% if report.status != 'Attended' %}
                    <td>
                        <a href="{{ url_for('update_booking', booking_id=report.id) }}">Update</a>
                        <form method="POST" action="{{ url_for('delete_booking', booking_id=report.id) }}">
                           <input style="width: fit-content; padding: 5px;" type="submit" value="Delete">
                        </form>
                                     
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr class="clickable-row" style="font-size: 12px;" data-href="{{ url_for('view_report', report_id=report.id) }}">
                <td>{{ report.Campus }}</td>

                <td>{{ report.block}}</td>
               
                <td>{{report.decription}}</td>

                <td>{{ report.status }}</td>

                {% if report.status != 'Attended' %}
                    <td>
                        <a href="{{ url_for('update_booking', booking_id=report.id) }}">Update</a>
                        <form method="POST" action="{{ url_for('delete_booking', booking_id=report.id) }}">
                            <input style="width: fit-content; padding: 5px;" type="submit" value="Delete">
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endif %}
    {% endif %}
{% endfor %}
</table>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var rows = document.querySelectorAll(".clickable-row");
        rows.forEach(function(row) {
            row.addEventListener("click", function() {
                window.location.href = row.dataset.href;
            });
        });
    });
</script>
</div>
{% include 'include/_Footer.html' %}